.efrm{
    background-color: rgb(179, 219, 227);
    border-radius: 10px ;
    margin: 2% 10% 4% 10%;
    padding: 20px 50px 60px 50px;
    
  }
  .efrm label {
  padding: 20px;
  font-size: 20px;
  }
  
  .efrm input {
    padding: 10px;
    margin: 10px;
    border: 10px black;
    width: 90%;  
  }

  .efrm .label1{
    float: left;
    width: 50%;
  }
  .efrm .label2{
    float: right;
    width: 50%;
  }
  .div1{
    margin-top: 50px;
  }
  .efrm button{
    height: 50px;
    width: 150px;
    padding: 10px;
    border-radius: 10px ;
    margin-top: 5%;
    margin-left: 5%;
  }
  .efrm button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #36096D;
    color: white;
  }
  .labelbtn{
   
    padding-top: 150px;
  }
  select{
    width: 90%; 
    padding: 10px;
    margin: 10px;
  }