span {
    color: rgb(89, 89, 89);
  }
  
  h2 {
    color: white;
  }
  form{
    border: 1px black solid;
    /* margin: 2% 10% 2% 10%;
    padding: 2% 4% 2% 7%; */
    background-color: #E4EDF9;
  }
  div{
    padding-bottom: 20px;
  }
  .email{
    padding-bottom: 20px;
  }
  button{
    margin-top: 10px;
    padding: 5px;
  }
  input{
    padding: 5px;
  }
  select{
    padding: 5px;
  }
  .category{
    margin: 0% 21.5% 0% 0%;
  }