.para{
  color: white;
}

.right>p {
  margin-top: 10px;
  font-size: 17px;
  padding: 15px;
  background-color: #F5F5F5;
  color: #428BCA;
}

span {
  color: rgb(89, 89, 89);
}

.options {
  margin-top: 25px;
  padding-left: 12px;
  width: 100%;
  background-color: #0a223d;
}

.option {
  display: inline-block;
  margin: 15px 5px;
  border-radius: 5px;
  padding: 10px;
  color: white;
  background-color: rgba(41, 87, 137, 0.6);
  width: 23%;
}

.drop {
  position: absolute;
  background-color: #008CFF;
  display: none;
  margin: 10px -10px;
  width: 17%;
  z-index: 1000;
  transition: 0.5s;
}

.option:hover .drop {
  display: block;
  transition: 0.5s;
}

.drop p {
  padding: 10px;
}

.drop p:hover {
  color: black;
  background-color: #F5F5F5;
} 

.head {
  color: #008CFF;
  margin-bottom: 2px;
}

.filter {
  margin-left: 1%;
  padding-top: 1.8%;
  font-size: 20px;
  color: white;
}

option {
  background-color: #f4eaea;
  font-size: 22px;
  padding-left: 25%;
}

#User {
  font-size: 20px;
  background-color: #a1ccf2;
  border: none;
  border-radius: 5%;
  padding: 0.5%;
}

#Branch {
  padding-left: 13%;
}

h2 {
  color: white;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
  padding-top: 100%;
}

td,
th {
  border: 1px solid #4a4646;
  text-align: center;
  padding: 8px;
}

th {
  background-color: #102543;
  color: white;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

button {
  font-size: 18px;
  background-color: #1B81BF;
  border: none;
  padding: 12px;
  color: white;
  border-radius: 10px;
  margin-left: 89%;
  margin-top: 2%;
}

button:hover {
  background-color: #428BCA;
  transform: scale(1.02);
  transition: 0.4s;
}



