* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #E4EDF9;
}

.login {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}

img {
    width: 50%;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 100%;
    object-fit: cover;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frm {
    width: 80%;
    height: 80vh;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 5px rgb(133, 133, 133);
}

.content {
    width: 50%;
}

.content img {
    width: 20%;
}

.frm input {
    width: 70%;    
    padding: 10px;
}

form a {
    color: blue;
    font-size: 15px;
}

#btn {
    margin: 10px;
    margin-top: 20px;
    background-color: #102543;
    font-size: medium;
    border: 0;
    cursor: pointer;
    color: white;
    border-radius: 8px;
    padding: 10px;
    transition: 0.3s;
}

#btn:hover {
    border-radius: 0;
    transform: scale(1.01);
}

.user-input-wrp {
    position: relative;
    width: 70%;
    margin: auto;
}

.user-input-wrp .inputText {
    width: 100%;
    outline: 0;
    margin-top: 10px;
    box-shadow: none !important;
}

span {
    font-size: medium;
}

.user-input-wrp .inputText:focus {
    border-radius: 5px;
    border: 2px solid #102543;
}

.user-input-wrp .floating-label {
    position: absolute;
    pointer-events: none;
    top: 40px;
    left: 10px;
    transition: 0.2s ease all;
}

.user-input-wrp input:focus~.floating-label,
.user-input-wrp input:not(:focus):valid~.floating-label {
    top: 5px;
    left: 10px;
    font-size: 15px;
    opacity: 1;
}

