* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #E4EDF9;
}

.nav {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 100;
    height: 100px;
    box-shadow: 0px 1px 5px #102543;
    transition: 0.5s;
}

.nav .img {
    transition: 0.5s;
    margin-left: 2%;
    padding: 1%;
    text-align: center;
    height: 100%;
    float: left;
    width: 8%;

}

#img {
    transition: 0.5s;
}

.nav .img img {
    width: auto;
    height: 100%;
}

.nav h2 {
    transition: 0.5s;
    color: #102543;
    display: flex;
    height: 100px;
    float: left;
    width: 30%;
    align-items: center;
    padding: 1%;
    font-family: 'Poppins', sans-serif;
}

.nav .links {
    margin-right: 5%;
    transition: 0.5s;
    display: flex;
    height: 100px;
    float: left;
    width: 55%;
    align-items: center;
    justify-content: right;
    gap: 4%;
    font-family: 'Poppins', sans-serif;
}

.links a {
    text-decoration: none;
    font-size: 20px;
    color: #102543;
    transition: 0.2s;
}

.links .active {
    font-size: 23px;
}

.links .active,
.links a:hover {
    font-weight: bold;
}

.spaces {
    height: 70px;
}

.image {
    height: 500px;
}

.image img {
    margin-left: -90%;
    opacity: 0;
    box-shadow: 0px 2px 10px #102543;
    object-fit: cover;
    transition: 0.7s;
}

.main {
    margin: 30px auto;
    text-align: center;
}

.heading {
    color: #E4EDF9;
    margin-left: 90%;
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    transition: 0.5s;
}

a {
    text-decoration: none;
}

.cards p {
    margin: 10px auto;
    font-weight: bold;
}

.cards img {
    height: 40%;
    margin-top: 20%;
    margin-bottom: 10px;
}

#imgcard1 {
    width: 50%;
    margin-left: 10%;
}

#imgcard4 {
    margin-left: 3%;
}

#card1,
#card3 {
    margin-right: 200px;
}

#card2,
#card4 {
    margin-left: 200px;
}

#card5 {
    margin-top: 240px;
}

.cards {
    text-decoration: none;
    color: black;
    font-size: 25px;
    border-radius: 20px;
    opacity: 0;
    background-color: #F3FCFF;
    text-align: center;
    margin: 20px;
    height: 25vw;
    display: inline-block;
    width: 25vw;
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid #102543;
}

.cards:hover {
    box-shadow: 0px 5px 10px #102543;
    transform: scale(1.05, 1.05);
}

.footer {
    background-color: #102543;
    text-align: center;
    color: white;
    padding: 10px;
}

.login {
    position: fixed;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: none;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frm {
    width: 40%;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 1px 5px #555;
    position: relative;
}

.frm h2 {
    font-size: 30px;
    letter-spacing: 1px;
    margin: 20px;
    margin-bottom: 30px;
}

.frm input {
    width: 70%;
    margin: 10px;
    padding: 10px;
}

form a {
    color: blue;
}

#btn {
    margin: 30px;
}

.frm button {
    position: absolute;
    top: 5px;
    right: 15px;
    border: 0;
    background-color: transparent;
    font-size: 35px;
}

.frm button:hover {
    font-weight: bold;
    color: red;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}