form {
    margin: 0% 2% 5% 22.5%;
    background-color: #E4EDF9;
}

.linfo{
    float: left;
    border-radius: 20px;
    background: white;
    width: 35%;
    /* padding: 2% 10% 2% 10%; */
}
.rinfo{
    float: right;
    margin-left: 5px;
    border-radius: 20px;
    background: white;
    top: 0;
    width: 64%;
    padding: 40px 80px 170px 80px; 
    
}

.pro_img {
    height: 50%;
    width: 50%;
    padding-top:50px;
    padding-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50% ;
}

.text {
    padding: 30px; 
}

.pa{
    text-align: center;
}
#p1{
    padding-bottom: 40px;
}
.btn{
    color:red;
    height: 30px;
    width:60px;
    padding: 8px;
    margin-left:40px;
    margin-bottom:40px;
}