form {
    border: 2px solid black;
    margin: 5% 25% 5% 25%;
    background-color: #E4EDF9;

}

.pro_img {
    height: 15%;
    width: 15%;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text {
    padding: 5px 50px 20px 50px; 
}

input {
    margin-bottom: 60px;
    padding: 5px;
}

img {
    border-radius: 50% ;
   margin-bottom: 60px;
   margin-top: 20px;
}
.rlabel{
    float: right;
}