form{
  font-size: 20px;;
}
input[type=text] {
	width: 35%;
	margin: 8px 0;
	padding: 7px;
	display: inline-block;
	border: 2px solid #1B81BF;
	box-sizing: border-box;
}
#user{
  width: 35%;
	margin: 8px 0;
	padding: 7px;
	display: inline-block;
	border: 2px solid #1B81BF;
	box-sizing: border-box;
}
button{
  font-size: 18px;
  background-color: #1B81BF;
  border: none;
  padding: 12px;
  color: white;
  border-radius: 10px;
}
button:hover{
  background-color: #428BCA;
  transform: scale(1.02);
  transition: 0.4s;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 5px;
}
td, th {
  border: 1px solid #4a4646;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}